nav{
    background-color: black;
    text-align: center;
    overflow: hidden;
}
nav a{
    color: white;
    text-decoration:none ;
    margin: 15px;
    float: left;
}
a:hover{
    color: salmon;
}

header h1{
    text-align: center;
    background-color: burlywood;
    margin: 0px;
    padding: 30px;
}
body{
    margin: 0px;
}