{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/x.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap" rel="stylesheet">
    <title>HTML | home</title>
</head>
<body>
    <header>
        <h1>Indian Premier League</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a> 
        <a href="#">Highlights</a> 
        <a href="#">Schedule</a> 
    </nav>
    <br>
    <br>
    <br>
    <main>
        <section>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/QG_6iyQ8Vxo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/GO4ISJ3VdBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/XL8Bzmenu64" title="M35: GT vs MI – Match Highlights on IPL 2023#ipl #mivsgt #iplhighlights 🔥" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <br>
        <br>
        <br>
        <section>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/QG_6iyQ8Vxo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/GO4ISJ3VdBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="33%" height="315" src="https://www.youtube.com/embed/XL8Bzmenu64" title="M35: GT vs MI – Match Highlights on IPL 2023#ipl #mivsgt #iplhighlights 🔥" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <section>
            <img src="akash.jpg" alt="nothing">
            
        </section>
        <a href="www.google.com">google &nbsp; | </a> &nbsp;&nbsp;&nbsp;<a href="www.facebook.com">facebook  &nbsp;|</a>&nbsp;&nbsp;&nbsp;<a href="www.yahoo.com">yahoo</a>
        <footer>
            <p>Indian Premier League © 2021</p>
        </footer>
    </main>
</body>
</html>